*{
    margin:0 px;
    padding:0 px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.about-me{
    padding:80px 0px;
}
.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.flex{
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}
.flex h2{
    font-size: 45px;
    margin-bottom: 20px;
    color:#333333;
}
.flex h3{
    font-size:22px;
    color:#888888;
    margin-bottom:8px;
}
.flex p{
    font-size:18px;
    line-height:1.5;
    color:#555555;
    margin-bottom:20px;
}
.love{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:40px;
    padding: 20px;
}
.love img{
    display: auto;
    max-width:100%;
    height:auto;
    border-radius:10px;
    margin: 0 auto;
    text-align: left;
    text-shadow: #333333 10px 10px 20px;
}
.social-icons{
    margin-bottom:20px;

}
.social-icons i{
    display:inline-block;
    text-align: center;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    margin-right: 10px;
    color:#fff;
    background-color:#333333;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
    transition:all 0.4s ease;
}
.social-icons i:hover{
    transform: translateY(-3px);
}
.btn{
    display: inline-block;
    padding:10px 20px;
    background-color:rgb(186, 162, 38);
    color:#fff;
    font-size:18px;
    font-weight:bold;
    border:none;
    text-transform: uppercase;
    border-radius:40px ;
    text-decoration:none;
    font-family:'Poppins', sans-serif;
    cursor:pointer;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.btn:hover{
    transform:translateY(-3px);
}
@media screen and (max-width:768px){
    .row{
        flex-direction:column;
    }
    .flex{
        max-width:100%;
    }
    .flex h2{
        font-size:31px;
    }
    .flex h3{
        font-size:18px;
    }
    .flex p{
        font-size:16px;
    }
    .social-icons i{
        width:30px;
        height:30px;
        line-height:30px;
        font-size:14px;
        margin-right:5px;
    }
    .btn{
        font-size:16px;
        padding:8px 16px;
        margin-bottom:30px ;
    }
}







color:rgb(163, 21, 21);