*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.h1{
    font-size:20px;
    font-family:'Poppins', sans-serif;
    margin:1px;
    padding: 5px;
    color:rgb(255, 255, 255);
}
.body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.h1 span{
    color:#52677d;
}
.h2{
    font-size:10px;
    color:rgb(246, 246, 246);
    padding:15px;
    font-family:'Poppins', sans-serif;
    margin-bottom: 0px;
    background-color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 10px 80px;
    background-color: #000;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a {
    padding:10px 18px;
    border-radius:5px;
    font-family:'Poppins', sans-serif;
    color:#ffffff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color:#1c2e4a; ;
    color:#ffffff;
}
h3{
    font-size:60px;
    text-align: center;
    background-color:#1c2e4a;
    color:#ffffff;
    padding:80px;
    width:auto;
    height:250px;
}
.container {
  width: 400px;  
  margin: 0 auto;   
}
.input-box{
    position: relative;
    width:100%;
    margin: 20px 0;
}
.input-box input{
   width:100%;
   height:100%;
    background: transparent;
    outline:none;
    border: 1.5px solid #ddd;
    border-radius:25px;
    font-size:16px;
    color:#393939;
    padding:20px 45px 20px 20px;
}
.input-box textarea{
    width:100%;
    height:100%;
    background: transparent;
    outline:none;
    border: 1.5px solid #ddd;
    border-radius:25px ;
    font-size:16px;
    color:#393939;
    padding:12px 15px;
    transition: all 0.3s ease; 
    resize: none;
    align-items: center;
}
.input-box input::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 4px;
    font-family:'Poppins', sans-serif;
}
.input-box textarea::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 4px;
    font-family:'Poppins', sans-serif;
}
.input-box input:focus,
.input-box textarea:focus {
  border-color: #d1cfc9;
  box-shadow: #52677d;
}

.btn {
    width:100%;
    display: block;
    padding: 15px 40px;           
    border: none;
    outline: none;
    background:#bdc4d4;
    color: #000000;                  
    font-size: 15px;              
    font-weight: 600;
    border-radius: 25px;          
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease; 
    align-items:center ; 
}
.btn:hover {
  background:#1c2e4a;
  color:#ffffff;
  transform: translateY(-3px);
}

.wrapper {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper h5 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align:center;
  padding:10px;
}

.wrapper p {
  font-size: 16px;
  color: #555;
  text-align:center ;
}
.box{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:200px;
    flex-wrap:wrap;
    gap:100px;
}
.h5{
    color:rgb(255, 255, 255);
}
h4{
    text-align: center;
}
.card{
    height:400px;
    width:250px;
    padding:15px 5px 15px 5px;
    text-align:center;
    border-radius:20px;
    margin: 15px;
    position:relative;
    text-decoration:none;
    margin-left: -3rem;
    text-align:center;
    font-family:'Poppins', sans-serif;
}
.card i{
    font-size:50px;
    display:block;
    text-align:center;
    margin:25px 0px;
    color:rgb(0, 0, 0);
    padding:10px;
}
.card ul{
    padding-left:15px;
}
.card ul li{
    list-style-position: inside;
    color:#000000;
    text-align:center;
}
footer {
    background-color:#1c2e4a;      
    font-weight:500;
    color: #000000;                
    text-align: center;          
    padding: 20px 0;             
    margin-top: 40px;            
    font-size: 14px;             
    font-family: 'Poppins', sans-serif;                 
}
footer p{
    color:#ffffff;
}
