
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.h1 span{
    color:#52677d;
}
.h1{
    font-size:20px;
    font-family:'Poppins', sans-serif;
    margin:1px;
    padding: 5px;
    color:rgb(255, 255, 255);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 10px 80px;
    background-color: #000;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a {
    padding:10px 18px;
    border-radius:5px;
    font-family:'Poppins', sans-serif;
    color:#ffffff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color:#1c2e4a; ;
    color:#ffffff;
}
.container{
    max-width:1200px;
    margin:0 auto;
    padding:0px 20px;
}
.row{
    display:flex;
    justify-content:center;
}
.flex {
    flex: 1;
    max-width: 100%;
    padding: 0 20px;
}
.flex h2{
    font-size:45px;
    color: #222;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin:0;
}
.flex li{
    font-size:22px;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding:10px;
    margin:10px;
}
.flex p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin:10px;
    padding:10px;
    text-align:justify;
}
.image-row{
    display: flex;
    gap:40px;
    justify-content:center;
    flex-wrap:wrap;
}
.image-row img{
    width:20rem; 
    height:20rem;             
    border-radius: 15px;     
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
    transition: transform 0.5s ease, box-shadow 0.5s ease;  
    cursor: pointer;       
}
.image-row img:hover {
    transform: scale(1.05) rotate(0.1deg);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
footer {
    background-color:#1c2e4a;      
    font-weight:500;
    color: #000000;                
    text-align: center;          
    padding: 20px 0;             
    margin-top: 40px;            
    font-size: 14px;             
    font-family: 'Poppins', sans-serif;                 
}
footer p{
    color:#ffffff;
}









