*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.h1{
    font-size:20px;
    font-family:'Poppins', sans-serif;
    margin:1px;
    padding: 5px;
    color:rgb(255, 255, 255);
}
.body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.h1 span{
    color:#52677d;
}
.h2{
    font-size:10px;
    color:rgb(246, 246, 246);
    padding:15px;
    font-family:'Poppins', sans-serif;
    margin-bottom: 0px;
}
.h3{
    font-size: 50px;
    color: #000000;
    padding: 20px;
    margin-top: -1em;
    text-align: center;

}
.h3 span{
    color: #52677d;
    font-size:50px;
}
.p{
    color: #52677d;
    font-size:10px;
    padding: 6px;
    text-align: justify;
    margin-top:-2em;
    
}
.wrapper img{
    display: auto;
    width:79rem;
    height:900px;
    padding:10px 25px 10px 25px;
}
.social-icons{
    display: flex; 
    padding:50px;
    justify-content: center;
    gap:50px;
    margin:0 0 20 15;
    align-items:center;
    color:#ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 10px 80px;
    background-color: #000;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a {
    padding:10px 18px;
    border-radius:5px;
    font-family:'Poppins', sans-serif;
    color:#ffffff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color:#1c2e4a; ;
    color:#ffffff;
}
.service{
    background:#1c2e4a; 
    width:100%;
    padding: 100px 0px;
}
.title h3{
    color:rgb(255, 253, 253);
    font-size:75px;
    width:1130px;
    margin:30px auto;
    text-align:center;
}
.box{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:200px;
    flex-wrap:wrap;
    gap:100px;
}
.h5{
    color:rgb(255, 255, 255);
}
.card{
    height:400px;
    width:250px;
    padding:15px 5px 15px 5px;
    text-align:center;
    border-radius:20px;
    margin: 15px;
    position:relative;
    text-decoration:none;
    margin-left: -3rem;
    text-align:center;
    font-family:'Poppins', sans-serif;
}
.card i{
    font-size:50px;
    display:block;
    text-align:center;
    margin:25px 0px;
    color:rgb(255, 255, 255);
}
.card ul{
    padding-left:15px;
}
.card ul li{
    list-style-position: inside;
    color:#ffffff;
    text-align:left;

}
.container{
    border:2px solid rgba(255,255,255,0.2);
    color:#3a3a3a;
    border-radius:12px ;
    padding:30px 40px;
} 
h3{
    font-size:2rem;
    text-align:center;
    margin-top: 10px;
    text-align: center;
}
footer {
    background-color:#1c2e4a;      
    font-weight:500;
    color: #000000;                
    text-align: center;          
    padding: 20px 0;             
    margin-top: 40px;            
    font-size: 14px;             
    font-family: 'Poppins', sans-serif;                 
}
footer p{
    color:#ffffff;
}
h5{
    color:#ffffff;
}

@media screen and (max-width:768px){
.h3 {
        font-size: 3rem;
        padding: 0px;
        margin-top: 0;
        text-align:left;
    }
.h2 {
        font-size: 12px;
        padding: 5px;
        margin: 0 auto;
        text-align:left;
    }
.p {
        font-size: 12px;
        margin-top: -1em;
        text-align: center;
        padding: 5px; 
        text-align: left;
}
.wrapper img {
        width: 90%;
        height:100%;
        padding: 20px;
        margin: 0 auto;
        display: block;
}
.social-icons {
        padding: 10px;
        text-align: center;
        gap: 50px;
    }
    .social-icons i {
        margin-right: 5px;
    }
     .title h3 {
        font-size: 35px;
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }
    .box {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .card {
        width: 90%;
        height: auto;
        margin: 10px auto;
        padding: 20px;
    }

    .card i {
        font-size: 35px;
        margin: 10px 0;
    }

    .card ul li {
        font-size: 14px;
        text-align: left;
    }
     .container {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
    }

    .input-box input,
    .input-box textarea {
        width: 50%;
        padding: 12px 18px;
        font-size: 14px;
    }
     .input-box textarea {
        height: 100px;
        width: 100% !important;
        border-radius: 15px;
    }

    .btn {
        height: 40px;
        font-size: 14px;
    }
     footer {
        font-size: 12px;
        padding: 15px 0;
    }
}